# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
# IDEs
# ==========================
.idea/
.vscode/
*.iml

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# Java / Spring Boot
# ==========================
*.class
*.jar
*.war
*.ear
.gradle/
build/
out/

# ==========================
# Maven
# ==========================
target/

# ==========================
# Environment
# ==========================
.env
.env.*

# ==========================
# Docker
# ==========================
docker-data/

# ==========================
# Terraform
# ==========================
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
*.tfvars

# ==========================
# Azure
# ==========================
.azure/

# ==========================
# Misc
# ==========================
*.swp
*~
